/*  BODY  ------------------------------------------------------------------  */

body {
    max-width: 44em;
    margin: auto;
    padding: 0 1em;
    color: #333;
    font-family: "Liberation Sans", Arial, sans-serif;
    line-height: 1.4em; }


/*  CODE, PARAGRAPH  -------------------------------------------------------  */

pre {
    border: 1px solid #eee;
    padding: 1em;
    background-color: #f0f0f0;
    color: #111;
    line-height: 1.2em; }
code {
    font-family: "Liberation Mono", Consolas, monospace;
    font-size: 120%; }
p code {
    font-size: 90%; }
p {
    text-align:justify; }


/*  HEADER  ----------------------------------------------------------------  */

a {
    color: maroon; }
h1 a, h2 a, h3 a, h4 a, h5 a {
    text-decoration: none;
    color: #222; }
h1, h2, h3, h4, h5 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #222;
    line-height: 1em; }
h1 {
    font-size: 150%;
    font-variant: small-caps;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em; }
h2 {
    font-size: 110%;
    border-bottom: 1px dashed #ccc;
    margin-top: 1.5em; }
h3 {
    font-size: 100%; }
h4, h5 {
    font-size: 90%;
    font-style: italic; }
h1.title {
    font-size: 200%;
    margin: 1em 0.5em 0.5em 0.5em; }
h2.author {
    font-variant: small-caps;
    text-align: center;
    border: none; }
h3.date {
    text-align: center;
    color: #666; }


/*  BLOCK ELEMENT (IMG, TABLE, ETC)  ---------------------------------------  */

dt code {
    font-weight: bold; }
dd p {
    margin-top: 0; }

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; }
figcaption {
    text-align: center;
    font-size: 90%; }

table {
    border-collapse: collapse;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    margin: 1em auto;
    font-size: 90%; }
th {
    border-bottom: 1px solid #808080;
    font-weight: normal; }
th, td {
    padding: 1px 8px; }

#footer {
    padding-top: 1em;
    font-size: 70%;
    color: gray;
    text-align: center; }
footer {
    font-size: 80%; }
cite {
    font-variant: small-caps; }
